#edmodo-logo {
  display: inline-block;
  position: relative;
  top: 6px;
  right: 16px;
  margin:0;
}
#vertical-divider {
  position: relative;
  width: 0px;
  right: 7px;
  display: inline-block;
  border-left: 1px solid #2567a8;
  border-right: 1px solid #4b8dce;
  height:inherit;
}
#vertical-divider:after {
  content: '.';
  visibility: hidden;
}
#edmodo {
font-weight: 500;
font-family: "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
button.login-edmodo-button {
  line-height: 44px;
  padding: 0 14px 0 28px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #3784d3;
  box-shadow: 0 2px 0 #276bb0;
  border:0;
  height:38px;
}
button.login-edmodo-button:hover {
  text-decoration: none;
  color: white;
  background-color: #2d7bcc;
}
button.login-edmodo-button p {
  color: white;
  text-shadow: 0 1px 0 #555555;
  font-size: 19px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  display: inline-block;
  margin:0;
}
#login-buttons-image-edmodo {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/41205/edmodo-icon_1.png);
}
